/*CSS Reset*/
*{
  padding: 0; margin: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
/*Header*/
.header{
  background-color: #C0392B;
  background-image: linear-gradient(#C0392B, #e74c3c);
  display: flex;
  flex-direction: column;
}
@media (min-width:600px){
  .header{
    flex-direction: column-reverse;
  }
}
.header__title{
  color:white;
  text-shadow: 1px 1px 2px black;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  padding: 30px;
  text-align: center;
  background-image: linear-gradient()
}
@media (min-width: 600px){
  .header__title{
    text-align: left;
  }
}
.header__title__bgwhite{
  color:#C0392B;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 6px;
  border-radius: 6px;
}
.menu{
  list-style: none;
  display: flex;
  flex-direction: column;  
}
@media (min-width: 600px){
  .menu{
    flex-direction: row;
  }
}
.menu__item > a{
  padding: 20px;
  text-decoration: none;
  color: #fff;
  display: block;
}
.menu__item > a:hover{
  color: #C0392B;
  background-color: #fff;
}
/*serie cover main page*/

.series{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.serie{
  text-align: center;
  margin: 0 auto;
  /* justify-content: space-evenly;*/
}
.serie__title{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  padding: 20px 0 2.5px;
}
.serie__genre{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #a9a4a4;
  display: block;
  padding: 2.5px 0 20px;

}
.serie__image{
  display: block;
  max-width: 328px;
  margin: 0 auto;
  border-radius: 5px;
}
.serie__readmore{
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #C0392B;
  text-decoration: none;
  display: block;
  padding: 7px;
  margin: 15px auto;
  max-width: 328px;
  border-radius: 5px;
}
.serie__readmore:hover{
  background-color: #E74C3C;
}
.footer{
  background-color: #eeeeee;
  color: #C0392B;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.footer__element{
  padding: 20px
}

.footer__image{
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}
/*serie detail*/
.seriedetail{
  text-align: center;
}
.seriedetail__title{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  padding: 20px 0 2.5px;
}
.seriedetail__genre{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #a9a4a4;
  display: block;
  padding: 2.5px 0 20px;

}
.seriedetail__image{
  display: block;
  max-width: 328px;
  margin: 0 auto;
  border-radius: 5px;
}
.seriedetail__texto{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  max-width: 328px;
  margin: 10px auto;
  text-align: left;
  
}
.seriedetail__watchtrailler{
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #F1ca0f;
  text-decoration: none;
  display: block;
  padding: 7px;
  margin: 15px auto;
  max-width: 328px;
  border-radius: 5px;
}
.seriedetail__watchtrailler:hover{
  background-color: rgba(241, 196, 15, 0.767);
}
/*serie avaliation*/
.serieavaliation{
  background-color: #eeeeee;
  margin:10px;
}
.serieavaliation__title{
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 30px 0 10px;
}
.serieavaliation__images{
  text-align: center;
  padding: 30px;
}
.serieavaliation__twitter{
  margin: 0 50px;
}
.serieavaliation__percent{
  color: #27ae60;
  font-size: 37px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}



